form {
  display: flex;
  flex-direction: column;
}

.inputSet {
  margin: 1rem;
}

.inputSet > input {
  float: right;
}

fieldset {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-border);
  border-radius: 2%;
}

label {
  padding: 0.4rem;
}

input[type="email"], input[type="text"], input[type="password"] {
  color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  border: none;
  padding: 10px;
  background-color: rgb(182, 203, 81);
  box-shadow: 0 0 0px 0px rgba(183, 203, 81, 0.3);
  transition: box-shadow 0.1s ease-in-out;
  min-width: 7rem;
}

button[type="submit"]:hover {
  border: none;
  padding: 10px;
  box-shadow: 0 0 20px 5px rgba(182, 203, 8, 0.3);
}

button[type="submit"]:active {
  transform: scale(90%);
  box-shadow: 0 0 0px 0px rgba(183, 203, 81, 0.3);
}

.errors {
  background-color: rgba(255, 0, 0, 0.501);
  color: white;
  text-align: center;
  padding: .75rem;
  margin: .75rem;
}
